[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
black = "~=19.10b0"
pytest = "*"
pytest-django = "*"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
